body
{
    width: 1440px;
    height: auto;
    background-color: #f4d04eff;
    display: flex;
    justify-content: center;
    align-items: center;

}

#block1
{
    margin-top: 10%;
    width: 550px;
    height: 700px;
    background-color: #ffffffff ;
    box-shadow:20px 15px 3px 1px rgb(0, 0, 0,3);
    border-radius: 5%;
    border-color: black;
}

#block2
{
    display: flex;
    justify-content: center;
    margin: 5%;
}
#image1
{
    border-radius: 5%;
}

h3
{
    background-color: #f4d04eff;
    width: 70px;
    font-size: 15px;
    padding: 10px;
    margin-left: 30px;
    border-radius: 8%;
    text-align: center;
    font-weight: bolder;
}

p
{

     margin-left: 30px;


}

h1
{
    margin: 30px;
}


#block3
{
    display: flex;
text-align: center;
}

#image2
{
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

#par1
{

    font-weight:1000;
    font-size: 60px;
}