#Header
{
    background-image: url(images/map.jpg);
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#smallhead
{
    display: flex;
    justify-content: space-between;
}

#text1
{
   width: auto;
   text-align: center;
   margin-top: 15%;
   
}

#p1
{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

#Login
{
   color: white;
   font-weight: lighter;
   font-size: 12px;
   display: flex;
   justify-content: center;
   width: 100px;
   height: 15px;
}

button
{
    color: white;
    background-color: #1F75FE;
    border-radius: 5px;
    height:25px;
}

#Button
{
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0px;
}

#main
{
    display: flex;
    gap: 0px;
    margin: 50px;
    width: 100%;
}
#block1
{
background-image: url(images/packing.jpg);
background-size: cover;

width: 50%;
height: 600px;
text-align: center;
}

.text2
{
font-size: 30px;
color: white;
text-shadow: black 2px 2px;
padding: 0px;
margin: 0px;
}

#blocks
{
    width: 50%;
    padding: 0px;
    margin: 0px;
}

#blocks1
{
    background-image: url(images/planning.jpg);
    background-size: cover;
    height:50%;
    width: 50%;
    padding: 0px;
    margin: 0px;

}

#blocks2
{
    margin: 0px;
    padding: 0px;
    background-image: url(images/budget.jpg);
    background-size: cover;
    height: 50%;
    width: 50%;

}

#footer
{
display: flex;
justify-content: space-between;
background-color: #A9a9a9;
margin: 0px;
padding: 0px;
}

.footers
{
display: flex;
flex-direction:row;
gap: 10px;
margin: 10px;
padding: 10px;
list-style: none;

}

.li
{
margin: 0px;
color: white;
text-decoration: noneclass="li";
border-right: 1px solid #ccc;
text-align: center;
}

