span
{
    color: rgb(0, 0, 141);
    font-weight: bolder;
}
li
{
list-style: none;
padding: 20px;
}
#ul1
{
display: flex;
justify-content: center;
}

h1
{
    text-align: center;
color: rgb(0, 0, 141);
font-weight: bold;
    justify-content: center;
}

.li1
{
    display: flex;
    justify-content: space-between;
}

#block1
{
    display: flex;
    justify-content: space-around;
}

.b1
{
padding-left: 150px;
font-size: 30px;
color: rgb(177, 130, 3);
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
}

.span1
{
font-size: 30px;
text-align: center;
}