#block1
{
    display: flex;
}

#block3
{
    margin-top: 80px;
    margin-left: 40px;
}

#about
{
font-family:sans-serif;
font-size: 20px;
color: rgb(206, 158, 0);
}
#hr1
{
    width: 20px;
    
}

ul
{
display: flex;

}

li
{
list-style: none;
padding-left: 15px;
display: flex;

}

h2
{
    font-size: 40px;
    color: rgb(206, 158, 0);
}

span
{
    color: rgb(0, 0, 131);
    font-weight: bold;
}

h1
{
    color: rgb(0, 0, 131);
}
button
{
    color: white;
    background-color: rgb(206, 158, 0);
    border: 0px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px
}

#img1
{
    padding-bottom: 100px;
    padding-right: 15px;
    padding-left: 100px;
}
#img2
{
    padding-left: 15px;
}